.sc-player {
  font: 12px arial, sans-serif;
  background-color:;#000
  color: #333;
  font-size: 0.6em;
  line-height: 1.6em;
  font-weight: bold;
}

.sc-player a {
  text-decoration: none;
  color: #fff;
}

/* scrubber */

.sc-scrubber {
  background-color: red;
}

.sc-scrubber .sc-time-span {
  background-color: #fff;
}

.sc-scrubber .sc-time-span img {
  height: 22px;
  width: 100%;
  background-color: #000;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  background-color: #fff;
  opacity: 0.4;
}

.sc-scrubber .sc-played {
  background-color: #333;
  opacity: 0.4;
}

/* controls */

.sc-player .sc-controls a {
  color: transparent;
  background: url('img/sprite2x.png');
  background-size: 44px 44px;
  background-position: 0 0;
}

.sc-player .sc-controls a:hover {
  background-position: 22px 0;
}

.sc-player .sc-controls a.sc-pause {
  background-position: 0 22px;
}

.sc-player .sc-controls a.sc-pause:hover{
 background-position: 22px 0;
}

.sc-player.playing .sc-controls a.sc-pause{
  background-position: 0 22px;
}

.sc-player.playing .sc-controls a.sc-pause:hover{
  background-position: 22px 22px;
}

.sc-scrubber .sc-time-indicators{
  background: #fff;
  color: #000;
  padding: 4px;
}

/* Track listings*/

.sc-player ol.sc-trackslist li {
  padding: 5px;
}

.sc-player ol.sc-trackslist li.active, .sc-player ol.sc-trackslist li:hover {
  background-color: #ccc;
  padding: 5px;
}

.sc-player ol.sc-trackslist li.active a {
}

.sc-track-duration {
  text-align: right;
  float: right;
  padding: 0 5px;
  margin-left: 5px;
  display: none;
}

/* Track info*/

.sc-player .sc-info{
  background: #fff;
  opacity: 0.9;
}

.sc-player .sc-info-toggle{
  background: #fff;
  color: #003399;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
  padding: 4px;
}

.sc-player .sc-info-toggle:hover{
  background: #003399;
  color: #eee;
}

.sc-player .sc-info-close{
  background: #003399;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
}

/* remote control */

a.sc-remote-link {
  background: url('img/play.png') top left no-repeat;
  padding-left: 20px;
  text-decoration: none;
}

a.sc-remote-link.playing{
  background-image: url('img/pause.png');
}

